form {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1;
  margin-bottom: 10px;
  margin-top: 10px;
}
form input {
  flex: 1 0;
  margin-right: 15px;
  background: white;
  border-color: $secondary-main-color;
  border-radius: 5px;
}

form button {
  flex: 0 1;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
}
