form {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  flex-grow: 1;
  margin-right: 15px;
  background: white;
  border-color: $secondary-main-color;
  border-radius: 5px;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
}
