// FONT
$default-font-size: 1.6rem;

//Widths

$XL-screenSize: 1440px;
$LG-screenSize: 1024px;
$MD-screenSize: 768px;
$SM-screenSize: 600px;
$XS-screenSize: 600px;

//colors
$primary-main-color: rgb(7, 70, 76);
$primary-light-color: rgb(218, 33, 156);
$secondary-main-color: rgb(57, 190, 245);
$secondary-dark-color: rgb(16, 50, 65);
$box-shadow-color: rgba(0, 0, 0, 0.2);
$paper-background: rgb(255, 255, 255);
$color-text-button: rgb(230, 230, 230);
$paper-background-radius: 100px;
$button-box-shadow: rgb(102, 102, 102);
$error-color: rgb(235, 53, 53);
