.heading-primary {
  text-transform: uppercase;
  color: $primary-main-color;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;
  flex: 0 1;
  &--title {
    display: block;
    font-size: 6rem;
    font-weight: 400;
  }
}
